.footer {
  height: 100%;
  background-color: transparent;

  .article {
    min-height: 50px;
    padding: 3% 2%;
    background-color: $bg-black;
  }

  #footer-info {
    @include flex-row;
    justify-content: space-around;

    .footer__link {
      flex: 1;
    }
  }

  #footer-author {
    background-color: $text-black;

    .article__text {
      font-family: $brand-font;
      text-align: center;
    }
  }

}