.hero {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
  height: 95%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, #ff006a, #01e9d6);

  @media screen and (min-width: $min-md) {
    //flex-direction: row;

  }

  @media screen and (min-width: $min-lg) {}

  @media screen and (min-width: $min-xl) {}

  @media screen and (min-width: $min-xxl) {}

  .box {
    @include flex-column;
    background-color: $bg-wrapper;
    height: calc(100% / 10);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .red {
    background-color: lightgrey;
    //box-shadow: inset 5px 0 5px grey;
  }
}