.hero {
  position: relative;
  @include flex;
  height: 100vh;  
  width: 100vw;
  flex-wrap: wrap;

  @media screen and (min-width: $min-md) {}

  @media screen and (min-width: $min-lg) {}

  @media screen and (min-width: $min-xl) {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .article {
    width: 12.5%;
    height: 20%;
  }
}