.navbar {
  height: 100px;
  width: 100%;
  padding: 25px;
  @include flex;
  justify-content: space-between;

  @media screen and (min-width: $min-md) {
    align-items: flex-end;

    .navbar__diamond {
      display: none;
    }

    .navbar__brand {
      flex: 1;
      font-size: 25px;
    }

    .navbar__menu {
      flex: 2;
    }
  }

  @media screen and (min-width: $min-lg) {}

  @media screen and (min-width: $min-xl) {}

  .navbar__brand {
    position: relative;

    .brand {
      font-family: $brand-font;
      z-index: 3;
    }
  }

  .navbar__menu {
    .navbar__links {
      @include flex;
      justify-content: space-between;
      height: 25px;
      position: relative;
    }
  }
}