@import "../../styles/_reset.scss";
@import '../../styles/_variables.scss';
@import "../../styles/_extends.scss";
@import "../../styles/_layout.scss";

.brand {
  color: $text-blue;
  font-size: 18px;
  font-family: $main-font;
  text-align: left;
  line-height: 100%;
  padding-top: 0px;
  cursor: pointer;

  @media screen and (min-width: $min-md) {
    font-size: 22px;
    padding-top: 0;
    text-align: left;
  }

  @media screen and (min-width: $min-lg) {}

  @media screen and (min-width: $min-xl) {}

  @media screen and (min-width: $min-xxl) {}

  &:active {
    color: $text-navy;
    text-shadow: none;
  }
}