@import "../../styles/_reset.scss";
@import '../../styles/_variables.scss';
@import "../../styles/_extends.scss";
@import "../../styles/_layout.scss";

.jumbo-anim {
  overflow: hidden;
  max-height: 100%;

  .snow {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    //border: solid 10px black;
  }
}