@import "../../styles/_reset.scss";
@import '../../styles/_variables.scss';
@import "../../styles/_extends.scss";
@import "../../styles/_layout.scss";
@import "../Texts/Texts.scss";
@import "../Titles/Titles.scss";

.jumbotron {
  position: absolute;
  width: 10px;
  height: 10px;
  //background-color: $text-blue;//$bg-black;
  //border: solid 5px $text-blue;
}

.jumbotron--off {
  position: absolute;
  display: none;
}