@import "../../styles/_reset.scss";
@import '../../styles/_variables.scss';
@import "../../styles/_extends.scss";
@import "../../styles/_layout.scss";
@import "../Texts/Texts.scss";

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;

<<<<<<< HEAD
=======
  .dark-theme & {
    .menu__btn {
      border: solid 2px $dark-theme-blue;
      animation: menuBtnShow2 1s forwards;
  
      @keyframes menuBtnShow2 {
        from {
          background-color: transparent;
          color: transparent;
          width: 50px;
          height: 50px;
        }
  
        to {
          background-color: $bg-black;
          color: $dark-theme-blue;
          width: 100px;
          height: 100px;
        }
      }
    }

    .menu-circle {
      .circle__elem {
        color: $dark-theme-blue;
      }
    }
  }

>>>>>>> develop
  .menu__btn {
    @extend .article__text;
    @include clean-btn;
    transition: .3s;
    background-color: transparent;
    color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 99;
    animation: menuBtnShow 1s forwards;
<<<<<<< HEAD
    animation-delay: 2s;
=======
    //animation-delay: 2s;
>>>>>>> develop

    @keyframes menuBtnShow {
      from {
        background-color: transparent;
        color: transparent;
        width: 50px;
        height: 50px;
      }

      to {
        background-color: $bg-black;
        color: $text-blue;
        width: 100px;
        height: 100px;
      }
    }

    &:after {
      position: absolute;
      @extend .article__text;
      content: "click";
      visibility: hidden;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 90px;
      width: 90px;
      line-height: 90px;
      color: transparent;
      border-radius: 50%;
      animation: afterShow 1s forwards;
      animation-delay: 3s;

      @keyframes afterShow {
        from {
          visibility: hidden;
        }

        to {
          visibility: visible;
        }
      }
    }
  }

  .menu__btn--off {
    display: none;
  }

  &:hover {
    .menu__btn {
      background-color: transparent;
      color: transparent;

      &:after {
        color: $text-black;
        background-color: $text-blue;
      }
<<<<<<< HEAD
=======

      .dark-theme & {

        &:after {
          background-color: $dark-theme-light;
        }
      }
>>>>>>> develop
    }
  }

  .menu-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //transform: rotate();
    animation: roundLetters 7s linear infinite;

    @keyframes roundLetters {
      from {
        transform: rotateZ(0deg);
      }

      to {
        transform: rotateZ(360deg)
      }
    }

    .circle__elem {
      @extend .article__text;
      position: absolute;
      width: 14px;
      left: 93px;
      height: 200vh;
      top: -200vh;
      transform-origin: bottom center;
      //transform: translateX(-50%);

<<<<<<< HEAD
=======
      .dark-theme & {
        color: &dark-theme-blue;
      }

>>>>>>> develop
      @for $i from 1 through 19 {
        &:nth-child(#{$i}) {
          transform: rotateZ($i * 19deg);
        }
      }

      animation: goLettersDown 1s forwards;
      animation-delay: 2s;

      @keyframes goLettersDown {
        from {
          height: 200vh;
          top: -200vh;
        }

        to {
          height: 100px;
          top: 0;
        }
      }
    }
  }

  .menu-circle--top {
    animation: none;
    width: 200px;
    left: 0;

    .circle__elem {
      @extend .article__text;
      @include clean-btn;
      height: 100px;
      position: absolute;
      width: 14px;
      left: 93px;
      top: 0;
      transform-origin: bottom center;
      //transform: translateX(-50%);

<<<<<<< HEAD
=======
      .dark-theme & {
        color: &dark-theme-blue;
      }

>>>>>>> develop
      @for $i from 1 through 19 {
        &:nth-child(#{$i}) {
          transform: rotateZ($i * 19deg);
          animation: goLettersTop 1s forwards;
          //animation-delay: $i * .1s;

          @keyframes goLettersTop {
            from {
              height: 100px;
              top: 0;
              z-index: inherit;
            }

            to {
              height: 200vh;
              top: -200vh;
              z-index: -1;
            }
          }
        }
      }
    }

    animation: menuOf 2s forwards;
    animation-delay: 1s;

    @keyframes menuOf {
      from {
        visibility: visible;
      }

      to {
        visibility: hidden;
      }
    }
  }
}