@import "../../styles/_reset.scss";
@import '../../styles/_variables.scss';
@import "../../styles/_extends.scss";
@import "../../styles/_layout.scss";
@import "../Texts/Texts.scss";
@import "../Titles/Titles.scss";

.navbar {
  position: absolute;
  @include flex-column;
  height: 100%;
  width: 100%;
  animation: pageName-on 2s;

  @keyframes pageName-on {
    0% {
      height: 0%;
      visibility: hidden;
    }

    60% {
      visibility: hidden;
      height: 50%;
    }

    100% {
      height: 100%;
      visibility: visible;
      //position: relative;
    }
  }

  .nav__box {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 16.6%;
    padding-left: 20px;
    justify-content: center;

    @media screen and (min-width: $min-md) {
      justify-content: flex-start;
    }

    .nav__btn {
      @include clean-btn;
      @extend .page__title;
      animation: pageName-on 2s, showNavBtn 1s 2s forwards;
      width: max-content;
      text-transform: uppercase;
      transform: translateX(-80vw);

      @keyframes showNavBtn {
        from {
          transform: translateX(-80vw);
        }

        to {
          transform: translateX(0);
        }
      }

      .btn__letter {
        width: 40px;
        transition: .2s;

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            transition-delay: .1s * $i;
          }
        }
      }

      &:hover {

        .btn__letter {
          margin-right: 10px;
        }
      }
    }
  }

  .block-stone {
    position: absolute;
    display: block;
    content: '';
    height: 14%;
    width: 25px;
    background-color: $bg-black;
    top: 0;
    left: -20px;

    @media screen and (min-width: $min-md) {
      left: -40px;
      width: 35px;
    }

    @for $i from 2 through 12 {
      &:nth-child(#{$i + 1}) {
        top: 17% * $i / 2;
      }
    }
  }
}

.navbar--off {
  display: none;
}