@import "../../styles/_reset.scss";
@import '../../styles/_variables.scss';
@import "../../styles/_extends.scss";
@import "../../styles/_layout.scss";

.second-header {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  min-width: 300px;
  background-color: $bg-black;
  animation: headerDown .5s ease-in-out;

  @keyframes headerDown {
    from{transform: translateY(-100%)}
    to{transform: translateY(0);}
  }

  @media screen and (min-width: $min-md) {
    height: 100px;
    padding: 0 calc(20px + 5vw);
  }

  .brand {}

  .page__title {
    text-transform: uppercase;
    max-width: min-content;
    color: $text-white; //$text-blue; //
  }
}