@import "../../styles/_reset.scss";
@import '../../styles/_variables.scss';
@import "../../styles/_extends.scss";
@import "../../styles/_layout.scss";

.start-header {
  background-color: $bg-wrapper;
  max-width: 100vw;
  //width: 100%;
  height: 100vh;
  overflow: hidden;

  @media screen and (min-width: $min-md) {
    height: 100vh;
    //width: 100vw;
    overflow: hidden;
    // max-height: 100vh;
  }

  .hero {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 300px;
    //max-width: 100vw;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
    //background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    //background-image: radial-gradient(cyan, DarkCyan);
    //background-color: rgb(214, 76, 57);
    //background-color: red;

    @media screen and (min-width: $min-md) {
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 300px;
    }

    .hero__item {
      @include flex-row;
      position: relative;
      background-color: $bg-wrapper;
      //background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
      height: calc(100% / 9);
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      z-index: 2;
      overflow: hidden;
      color: cyan;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;

      @media screen and(min-width: $min-md) {
        height: calc(100% / 9);
        width: 100%;
      }

      .hero__brand,
      .hero__menu {
        color: $text-blue;
        font-size: 18px;
        font-family: $brand-font;
        text-align: center;
        line-height: 100%;
        padding: 15px;

        @media screen and (min-width: $min-md) {
          font-size: 22px;
          padding-top: 0;
        }
      }

      .hero__menu {
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: 0;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;

        &:hover {
          color: $text-white;
        }
      }

      .item__averse {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 10%;
        @include flex-row;
        justify-content: space-between;
        //left: 50%;
        //transform: translateX(-50%);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;

        .page__title {
          text-transform: uppercase;
          color: $text-white;
          font-size: calc(25px + 1vh);
          margin: 0 auto;
          text-shadow: none;
          //text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #00FFFF 0px 0px 20px, #00FFFF 0px 0px 30px, #00FFFF 0px 0px 40px;
          //,#00FFFF0px0px50px,#00FFFF0px0px75px:;
          animation: glowTitle 3s;
          -webkit-animation: glowTitle 3s;
          //animation: glowTitle2 1s 1s 1s;
          transition: .5s;
          -webkit-transition: .5s;
          -moz-transition: .5s;
          -ms-transition: .5s;
          -o-transition: .5s;

          @media screen and(min-width: $min-md) {
            font-size: calc(25px + 1vw);
          }

          @media screen and (min-width: $min-lg) {
            font-size: calc(30px + 1vw);
          }

          @media screen and (min-width: $min-xl) {
            font-size: calc(35px + 1vw);
          }

          @media screen and (min-width: $min-xxl) {
            font-size: calc(40px + 1vw);
          }

          @keyframes glowTitle {
            0% {
              opacity: 0;
              text-shadow: #00FFFF 0px 0px 5px;
            }

            30% {
              opacity: 1;
              text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #00FFFF 0px 0px 20px, #00FFFF 0px 0px 30px, #00FFFF 0px 0px 40px; // , #00FFFF 0px 0px 50px , #00FFFF 0px 0px 75px;

            }

            100% {
              text-shadow: #00FFFF 0px 0px 5px;
            }
          }
        }

        .page__title--of {
          text-transform: none;
          color: $text-white;
          font-family: $brand-font;

          font-size: calc(20px + 1vh);

        }
      }

      .item__reverse {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        //background-color: rgb(5, 184, 184);
        background-color: $text-blue;
        background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        border: inset 1px dimgrey;

        //background-color: $bg-wrapper;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;

        .reverse__link {
          color: $text-black;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: bold;
          //color: $text-white;
          visibility: hidden;
          transform: rotateX(180deg);
          -webkit-transform: rotateX(180deg);
          -moz-transform: rotateX(180deg);
          -ms-transform: rotateX(180deg);
          -o-transform: rotateX(180deg);
        }
      }

      &:nth-of-type(2) {
        transition-delay: .1s;

        .item__reverse {
          transition-delay: .1s;

          .reverse__link {
            transition-delay: .1s;
          }
        }
      }

      &:nth-of-type(3) {
        transition-delay: .2s;

        .item__reverse {
          transition-delay: .2s;

          .reverse__link {
            transition-delay: .2s;
          }
        }
      }

      &:nth-of-type(4) {
        transition-delay: .3s;

        .item__reverse {
          transition-delay: .3s;

          .reverse__link {
            transition-delay: .3s;
          }
        }
      }

      &:nth-of-type(5) {
        transition-delay: .4s;

        .item__reverse {
          transition-delay: .4s;

          .reverse__link {
            transition-delay: .4s;
          }
        }
      }

      &:nth-of-type(6) {
        transition-delay: .5s;

        .item__reverse {
          transition-delay: .5s;

          .reverse__link {
            transition-delay: .5s;
          }
        }
      }

      &:nth-of-type(7) {
        transition-delay: .6s;

        .item__reverse {
          transition-delay: .6s;

          .reverse__link {
            transition-delay: .6s;
          }
        }
      }

      &:nth-of-type(8) {
        transition-delay: .7s;

        .item__reverse {
          transition-delay: .7s;

          .reverse__link {
            transition-delay: .7s;
          }
        }
      }

      &:nth-of-type(9) {
        transition-delay: .8s;

        .item__reverse {
          transition-delay: .8s;

          .reverse__link {
            transition-delay: .7s;
          }
        }
      }
    }

    .red {

      background-color: $text-blue;
      background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
      transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      -o-transform: rotateX(180deg);

      .page__title {
        //height: 0;
        //font-size: 0;
        visibility: hidden;
      }

      .hero__brand,
      .hero__menu {
        color: $text-black;
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
      }

      .item__reverse {
        opacity: 1;

        .reverse__link {
          visibility: visible;
        }

        &:hover {
          //font-weight: bold; //Przerobić na akcję JS
        }
      }

      &:nth-of-type(2) {
        transition-delay: .1s;

        .item__reverse {
          opacity: 1;
        }
      }

      &:nth-of-type(3) {
        transition-delay: .2s;

        .item__reverse {
          opacity: 1;
        }
      }

      &:nth-of-type(4) {
        transition-delay: .3s;

        .item__reverse {
          opacity: 1;
        }
      }

      &:nth-of-type(5) {
        transition-delay: .4s;

        .item__reverse {
          opacity: 1;
        }
      }

      &:nth-of-type(6) {
        transition-delay: .5s;

        .item__reverse {
          opacity: 1;
        }
      }

      &:nth-of-type(7) {
        transition-delay: .6s;

        .item__reverse {
          opacity: 1;
        }
      }

      &:nth-of-type(8) {
        transition-delay: .7s;

        .item__reverse {
          opacity: 1;
        }
      }

      &:nth-of-type(9) {
        transition-delay: .8s;

        .item__reverse {
          opacity: 1;
        }
      }
    }
  }
}

.start-header--reverse {
  //background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}