/* colors */
$bg-white: #FFFFFF;
$bg-black: #111111;
$bg-wrapper: rgba(5, 5, 5, 1); //rgb(238, 85, 65); //#EF412B; //rgb(243, 102, 82);
$text-black: #000000;
$text-white: #FFFFFF; //rgb(243, 245, 221);
$text-navy: rgb(11, 34, 75);
$text-blue: cyan;
$text-blue2: rgba(0, 255, 255, .8);
$main-grey: #EFEFEF;
$main-red: rgba(255, 0, 0, 0.5);
$main-blue: rgb(10, 10, 53);

/* Fonts */
$main-font: Montserrat, sans-serif;
//$main-font: Roboto, sans-serif;
$brand-font: Satisfy, sans-serif;

/* Borders */
$brdr-radius: 5px;
$brdr-weight: 3px;

/*Media*/
$max-xs: 575.99px;

$min-sm: 576px;
$max-sm: 767.99px;

$min-md: 768px;

$min-lg: 960px;

$min-xl: 1200px;

$min-xxl: 1500px;

/* Actions */
$transition: .2s;