html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* colors */
/* Fonts */
@font-face {
  font-family: myMainFont;
  src: url("/lib/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: myBrandFont;
  src: url("/lib/fonts/Satisfy-Regular.ttf");
}

/* Borders */
/*Media*/
/* Actions */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
  height: auto;
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
}

.wrapper {
  background-color: #050505;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}

.picture {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (orientation: landscape) {
  .picture {
    position: absolute;
    width: calc(100% * 8);
    height: calc(100% * 8);
    display: block;
    background-size: cover;
    background-position: center;
  }
}

.picture--hide {
  display: none;
}

.article__photos .photo__link {
  position: relative;
  width: 80%;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin: 10px 0;
  line-height: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 960px) {
  .article__photos .photo__link {
    width: 50%;
  }
}

.article__photos .photo__link:hover:after {
  position: absolute;
  content: 'See';
  left: 50%;
  top: 50%;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: solid 1px white;
  font-size: 16px;
  line-height: 160%;
  font-family: myMainFont, Calibri, sans-serif;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 8px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.article__photos .photo__link:hover .article__photo {
  opacity: .5;
}

.article__photos .photo__link .article__photo {
  width: 100%;
  margin: 0;
}

.viewer__modal {
  display: none;
}

.viewer__modal--active {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .viewer__modal--active {
    z-index: 100;
  }
}

.viewer__modal--active .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 100;
  -webkit-animation: sizeMover .3s ease-in;
          animation: sizeMover .3s ease-in;
}

@-webkit-keyframes sizeMover {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sizeMover {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .viewer__modal--active .modal {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .viewer__modal--active .modal {
    height: 80vh;
  }
  @-webkit-keyframes sizeMover {
    from {
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes sizeMover {
    from {
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
}
/*# sourceMappingURL=Images.css.map */