html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* colors */
/* Fonts */
@font-face {
  font-family: myMainFont;
  src: url("/lib/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: myBrandFont;
  src: url("/lib/fonts/Satisfy-Regular.ttf");
}

/* Borders */
/*Media*/
/* Actions */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
  height: auto;
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
}

.wrapper {
  background-color: #050505;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 5vh 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: radial-gradient(circle at right, transparent 20%, rgba(0, 0, 0, 0.5)), radial-gradient(circle at 70%, transparent 10%, rgba(0, 0, 0, 0.5)), radial-gradient(circle at left, transparent 10%, rgba(0, 0, 0, 0.5));
}

@media screen and (min-width: 768px) {
  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: calc(20px + 5vh) calc(20px + 5vw);
  }
}

.section .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 25px;
  opacity: 0;
}

@media screen and (min-width: 960px) {
  .section .article {
    padding: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section .article {
    padding: 40px;
  }
}

@media screen and (min-width: 1500px) {
  .section .article {
    padding: 50px;
    max-width: 700px;
  }
}

.section .article__description {
  background-color: #050505;
  min-height: 60vh;
  -webkit-transition: .3s;
  transition: .3s;
}

.section .article__description .section__title--show {
  visibility: visible;
  -webkit-animation: showElem 1s;
          animation: showElem 1s;
}

.section .article__photos {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(5, 5, 5, 0.3);
  min-height: 60vh;
  -webkit-transition: .3s;
  transition: .3s;
}

.section .article__photos .section__title--show {
  visibility: visible;
  -webkit-animation: showElem 1s;
          animation: showElem 1s;
}

@-webkit-keyframes showElem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showElem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section .photo__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  width: 100%;
}

.section .photo__box .article__pattern {
  position: absolute;
  display: block;
  height: 100%;
  width: 85%;
}

@media screen and (min-width: 768px) {
  .section .photo__box .article__pattern {
    position: absolute;
    display: block;
    height: 100%;
    width: 85%;
  }
}

.section .articleOn {
  opacity: 1;
  animation: articleOn 1s;
  -webkit-animation: articleOn 1s;
}

@-webkit-keyframes articleOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes articleOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=Sections.css.map */