html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* colors */
/* Fonts */
@font-face {
  font-family: myMainFont;
  src: url("/lib/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: myBrandFont;
  src: url("/lib/fonts/Satisfy-Regular.ttf");
}

/* Borders */
/*Media*/
/* Actions */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
  height: auto;
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
}

.wrapper {
  background-color: #050505;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}

.ui {
  background-color: DimGrey;
  background-image: none;
}

.ui .photo__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  .ui .photo__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.ui .photo__box .viewer__box {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[auto];
      grid-template-rows: repeat(auto, 1fr);
  grid-gap: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/icons/plus-cyan.svg"), url("/images/icons/plus-cyan.svg"), url("/images/icons/plus-cyan.svg"), url("/images/icons/plus-cyan.svg"), url("/images/icons/plus-cyan.svg");
  background-size: 220px, 10%, 10%, 10%, 10%;
  background-position: center, right bottom, right top, left bottom, left top;
  overflow: visible;
}

.ui .photo__box .viewer__box .picture__box {
  width: 110px;
  height: 110px;
  min-height: 100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.ui .photo__box .viewer__box .picture__box .article__photo {
  position: relative;
  width: 110px;
  height: 110px;
  min-height: 100px;
  background-color: #050505;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 1%;
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}

.ui .photo__box .viewer__box .picture__box .article__photo .inner__picture {
  opacity: 0;
}

.ui .photo__box .viewer__box .picture__box .article__photo:hover .inner__picture {
  opacity: .5;
}

.ui .photo__box .viewer__box .picture__box .article__photo:hover:after {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .ui .photo__box .viewer__box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[auto];
        grid-template-rows: repeat(auto, 1fr);
    grid-gap: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    background-size: 280px, 10%, 10%, 10%, 10%;
    padding: 50px;
  }
  .ui .photo__box .viewer__box .picture__box {
    overflow: visible;
    width: 140px;
    height: 140px;
  }
  .ui .photo__box .viewer__box .picture__box .article__photo {
    position: relative;
    width: 140px;
    height: 140px;
  }
  .ui .photo__box .viewer__box .picture__box:nth-of-type(1), .ui .photo__box .viewer__box .picture__box:nth-of-type(5) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  .ui .photo__box .viewer__box .picture__box:nth-of-type(2), .ui .photo__box .viewer__box .picture__box:nth-of-type(6) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row: 1fr;
  }
  .ui .photo__box .viewer__box .picture__box:nth-of-type(3) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  .ui .photo__box .viewer__box .picture__box:nth-of-type(4) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 1500px) {
  .ui .photo__box {
    width: 33%;
  }
}

.ui:first-of-type .photo__box .viewer__box .picture__box .article__photo:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.ui:first-of-type .photo__box .viewer__box .picture__box:nth-of-type(1) {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.ui:first-of-type .photo__box .viewer__box .picture__box:nth-of-type(1) .article__photo:after {
  content: 'websites';
  font-family: myMainFont, Calibri, sans-serif;
  text-transform: uppercase;
}

.ui:first-of-type .photo__box .viewer__box .picture__box:nth-of-type(2) {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.ui:first-of-type .photo__box .viewer__box .picture__box:nth-of-type(2) .article__photo:after {
  content: 'icons';
  font-family: myMainFont, Calibri, sans-serif;
}

.ui:first-of-type .photo__box .viewer__box .picture__box:nth-of-type(3) {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.ui:first-of-type .photo__box .viewer__box .picture__box:nth-of-type(3) .article__photo:after {
  content: 'commercial graphics';
  font-family: myMainFont, Calibri, sans-serif;
}

.ui:first-of-type .photo__box .viewer__box .picture__box:nth-of-type(4) {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.ui:first-of-type .photo__box .viewer__box .picture__box:nth-of-type(4) .article__photo:after {
  content: 'Art';
  font-family: myBrandFont, sans-serif;
  font-size: 20px;
}

.ui:nth-of-type(2) .photo__box .viewer__box, .ui:nth-of-type(3) .photo__box .viewer__box, .ui:nth-of-type(4) .photo__box .viewer__box, .ui:nth-of-type(5) .photo__box .viewer__box {
  -ms-grid-columns: (90px)[3];
      grid-template-columns: repeat(3, 90px);
  -ms-grid-rows: (90px)[3];
      grid-template-rows: repeat(3, 90px);
  background-size: 0px, 10%, 10%, 10%, 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box {
  overflow: visible;
  width: 90px;
  height: 90px;
  min-height: 90px;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(3), .ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(4), .ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(5), .ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(6), .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(3), .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(4), .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(5), .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(6), .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(3), .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(4), .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(5), .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(6), .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(3), .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(4), .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(5), .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(6) {
  -ms-grid-column: auto;
      grid-column-start: auto;
  grid-column-end: auto;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box .article__photo, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box .article__photo, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box .article__photo, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box .article__photo {
  position: relative;
  width: 90px;
  height: 90px;
  min-height: 90px;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box .article__photo .inner__picture, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box .article__photo .inner__picture, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box .article__photo .inner__picture, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box .article__photo .inner__picture {
  opacity: 1;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box .article__photo .inner__picture:hover, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box .article__photo .inner__picture:hover, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box .article__photo .inner__picture:hover, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box .article__photo .inner__picture:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  width: 100%;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(odd) .article__photo .inner__picture, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(odd) .article__photo .inner__picture, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(odd) .article__photo .inner__picture, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(odd) .article__photo .inner__picture {
  animation: boxSwitcher1 12s infinite;
  -webkit-animation: boxSwitcher1 12s infinite;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(3) .article__photo .inner__picture, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(3) .article__photo .inner__picture, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(3) .article__photo .inner__picture, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(3) .article__photo .inner__picture {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(5) .article__photo .inner__picture, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(5) .article__photo .inner__picture, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(5) .article__photo .inner__picture, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(5) .article__photo .inner__picture {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(7) .article__photo .inner__picture, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(7) .article__photo .inner__picture, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(7) .article__photo .inner__picture, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(7) .article__photo .inner__picture {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(9) .article__photo .inner__picture, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(9) .article__photo .inner__picture, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(9) .article__photo .inner__picture, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(9) .article__photo .inner__picture {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(even) .article__photo .inner__picture, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(even) .article__photo .inner__picture, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(even) .article__photo .inner__picture, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(even) .article__photo .inner__picture {
  animation: boxSwitcher1 12s 6s infinite;
  -webkit-animation: boxSwitcher1 12s 6s infinite;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(2) .article__photo .inner__picture, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(2) .article__photo .inner__picture, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(2) .article__photo .inner__picture, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(2) .article__photo .inner__picture {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(4) .article__photo .inner__picture, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(4) .article__photo .inner__picture, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(4) .article__photo .inner__picture, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(4) .article__photo .inner__picture {
  -webkit-animation-delay: 6.2s;
          animation-delay: 6.2s;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(6) .article__photo .inner__picture, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(6) .article__photo .inner__picture, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(6) .article__photo .inner__picture, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(6) .article__photo .inner__picture {
  -webkit-animation-delay: 6.4s;
          animation-delay: 6.4s;
}

.ui:nth-of-type(2) .photo__box .viewer__box .picture__box:nth-of-type(8) .article__photo .inner__picture, .ui:nth-of-type(3) .photo__box .viewer__box .picture__box:nth-of-type(8) .article__photo .inner__picture, .ui:nth-of-type(4) .photo__box .viewer__box .picture__box:nth-of-type(8) .article__photo .inner__picture, .ui:nth-of-type(5) .photo__box .viewer__box .picture__box:nth-of-type(8) .article__photo .inner__picture {
  -webkit-animation-delay: 6.6s;
          animation-delay: 6.6s;
}

@-webkit-keyframes boxSwitcher1 {
  0% {
    width: 100%;
  }
  2% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  52% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes boxSwitcher1 {
  0% {
    width: 100%;
  }
  2% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  52% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .ui:nth-of-type(2) .photo__box .viewer__box .viewer__box, .ui:nth-of-type(3) .photo__box .viewer__box .viewer__box, .ui:nth-of-type(4) .photo__box .viewer__box .viewer__box, .ui:nth-of-type(5) .photo__box .viewer__box .viewer__box {
    -ms-grid-columns: (90px)[3];
        grid-template-columns: repeat(3, 90px);
    -ms-grid-rows: (90px)[2];
        grid-template-rows: repeat(2, 90px);
    background-size: 0px, 10%, 10%, 10%, 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ui:nth-of-type(2) .photo__box .viewer__box .viewer__box .picture__box, .ui:nth-of-type(3) .photo__box .viewer__box .viewer__box .picture__box, .ui:nth-of-type(4) .photo__box .viewer__box .viewer__box .picture__box, .ui:nth-of-type(5) .photo__box .viewer__box .viewer__box .picture__box {
    overflow: visible;
    width: 90px;
    height: 90px;
    min-height: 90px;
  }
  .ui:nth-of-type(2) .photo__box .viewer__box .viewer__box .picture__box .article__photo, .ui:nth-of-type(3) .photo__box .viewer__box .viewer__box .picture__box .article__photo, .ui:nth-of-type(4) .photo__box .viewer__box .viewer__box .picture__box .article__photo, .ui:nth-of-type(5) .photo__box .viewer__box .viewer__box .picture__box .article__photo {
    position: relative;
    width: 90px;
    height: 90px;
    min-height: 90px;
  }
}
/*# sourceMappingURL=UI.css.map */