@import "../../styles/_reset.scss";
@import '../../styles/_variables.scss';
@import "../../styles/_extends.scss";
@import "../../styles/_layout.scss";
@import "./Texts.scss";

.article__list {
  @extend .article__text;
  list-style-type: disc;
  .list__elem {
    margin-left: 20px;
  }

  .dark-theme & {
    color: $dark-theme-blue;
  }
}