.cv-page {
  .main2Page {
    .section {

      .photo__box {
        @include flex-row;
        position: relative;

        .slides__container {
          display: block;
          height: 100%;
          width: 80%;
          min-height: 100px;
          min-width: 100px;
          margin: 0 auto;
          overflow: hidden;

          .slide {
            height: 100%;
            min-height: 200px;
            width: auto;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @media screen and (min-width: $min-md) {
              min-height: 300px;
            }

            @media screen and (min-width: $min-lg) {
              min-height: 350px;
            }

            @media screen and (min-width: $min-xl) {
              min-height: 400px;
            }

            @media screen and (min-width: $min-xxl) {
              min-height: 450px;
            }

            @keyframes moveToLeft {
              from {
                transform: translateX(100%);
              }

              to {
                transform: translateX(0%);
              }
            }

            @keyframes moveToRight {
              from {
                transform: translateX(-100%);
              }

              to {
                transform: translateX(0%);
              }
            }
          }

          .slide__move--toLeft {
            animation: moveToLeft .2s;
            -webkit-animation: moveToLeft .2s;
          }

          .slide__move--toRight {
            animation: moveToRight .2s;
            -webkit-animation: moveToRight .2s;
          }
        }

        .slider__arrow {
          position: absolute;
          width: 35px;
          height: 35px;
          background-color: transparent;
          background-image: url('../images/icons/arrow.svg');
          @include img;
          background-size: 90%;
          border: none;
          transition: $transition;
          border-radius: 50%;
          cursor: pointer;

          @media screen and (min-width: $min-md) {
            width: 50px;
            height: 50px;
          }

          &:hover {
            background-color: $bg-black;
          }
        }

        .slider__arrow--left {
          left: 1%;
        }

        .slider__arrow--right {
          transform: rotateZ(180deg);
          right: 1%;
        }
      }
    }
  }
}