.cv-page {
  .main2Page {
    .section {

      .photo__box {
        @include flex-row;
        position: relative;

        .slides__container {
          display: block;
          height: 100%;
          width: 80%;
          min-height: 100px;
          min-width: 100px;
          margin: 0 auto;
          overflow: hidden;

          .slide {
            height: 100%;
            min-height: 200px;
            width: auto;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @media screen and (min-width: $min-md) {
              min-height: 300px;
            }

            @media screen and (min-width: $min-lg) {
              min-height: 350px;
            }

            @media screen and (min-width: $min-xl) {
              min-height: 400px;
            }

            @media screen and (min-width: $min-xxl) {
              min-height: 450px;
            }

            @keyframes moveToLeft {
              from {
                transform: translateX(100%);
              }

              to {
                transform: translateX(0%);
              }
            }

            @keyframes moveToRight {
              from {
                transform: translateX(-100%);
              }

              to {
                transform: translateX(0%);
              }
            }
          }

          .slide__move--toLeft {
            animation: moveToLeft .2s;
            -webkit-animation: moveToLeft .2s;
          }

          .slide__move--toRight {
            animation: moveToRight .2s;
            -webkit-animation: moveToRight .2s;
          }
        }

        .slider__arrow {
          position: absolute;
          width: 35px;
          height: 35px;
          background-color: rgba(0, 0, 0, .1);
          background-image: url('../images/icons/arrow.svg');
          @include img;
          background-size: 85%;
          border: none;
          transition: $transition;
          border-radius: 50%;
          cursor: pointer;

          @media screen and (min-width: $min-md) {
            width: 50px;
            height: 50px;
            background-size: 60%;
          }

          &:hover {
            background-color: $bg-black;
            background-size: 85%;
          }
        }

        .slider__arrow--left {
          left: 1%;
        }

        .slider__arrow--right {
          transform: rotateZ(180deg);
          right: 1%;
        }

        .slider__sizer,
        .slider__resizer {
          @extend .slider__arrow;
          //position: relative;
          background-image: url('../images/icons/full-screen.svg');
          margin: 0 auto;
          bottom: 10%;
          left: 50%;
          transform: translateX(-50%);
          color: white;
        }

        .slider__resizer {
          background-image: url('../images/icons/small-screen.svg');
        }

        .slides__modal {
          display: none;
        }

        .modal--open {
          position: fixed;
          display: flex;
          width: 100vw;
          height: 100vh;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, .6);
          z-index: 99;

          .slides__container {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .slide {
              //top: 50%;
              height: 80%;
              width: auto;
              min-width: 90%;
              //transform: translateY(-50%);
            }
          }

          .slider__arrow--left {
            top: 50%;
            transform: translateY(-50%);
            left: 2%;
            background-color: rgba(0, 0, 0, .2);
          }

          .slider__arrow--right {
            top: 50%;
            transform: translateY(-50%) rotateZ(180deg);
            right: 2%;
            background-color: rgba(0, 0, 0, .2);
          }
        }

        .slider__resizer {
          bottom: 5%;

          @media screen and (min-width: $min-md) {
            width: 50px;
            height: 50px;
            background-size: 85%;
          }

          &:hover {
            background-color: $bg-black;
            background-size: 60%;
          }
        }
      }
    }

    .section__time-line {
      @include flex-column;

      .article {
        width: 100%;
        max-width: 100%;

        .articleTitle {
          justify-content: center;
        }

        .time-line__switcher {
          z-index: 1;
          cursor: pointer;
        }

        .time-line__container {
        }

        .time-line--active {
          opacity: 1;
          height: 100%;
          animation: timeLineOpen .5s;
          -webkit-animation: timeLineOpen .5s;

          @keyframes timeLineOpen {
            from {
              height: 0%;
            }

            to {
              height: 100%;
            }
          }

          .time-line__box {
            display: flex;
            z-index: 1;
          }
        }

        .time-line--off {
          opacity: 0;
          height: 0%;
          animation: timeLineClose .5s;
          -webkit-animation: timeLineClose .5s;

          @keyframes timeLineClose {
            from {
              height: 100%;
            }

            to {
              height: 0%;
            }
          }

          .time-line__box {
            display: flex;
            z-index: -1;
          }
        }
      }

    }
  }
}