.webs-page {

  .main2Page {
    .section {
      overflow-y: hidden;

      .article {
        width: 100%;
        align-items: flex-start;
        height: auto;

        &:last-of-type {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;

          @media screen and (min-width: $min-md) {
            max-width: 40%;
            width: min-content;
          }

          @media screen and (min-width: $min-xxl) {
            max-width: 500px;
            width: min-content;
          }
        }
      }

      .photo__box {
        @include flex;

        .article__pattern {
          position: absolute;
          display: block;
          height: 250px;
          width: 100%;
          border-radius: 2px;
          left: 0;
          top: 0;
          background-color: $text-blue2;
          background-size: 200%;
          background-attachment: fixed;
        }

        .viewer__box {
          width: 90%;
          margin: 0px auto 20px;
          height: auto;
          //min-height: 200px;
          cursor: pointer;

          .article__photo {
            padding: 10px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
          }
        }

        @media screen and (min-width: $min-md) {
          position: relative;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(auto-fill, 1fr);
          align-items: stretch;
          justify-items: stretch;
          height: 90%;
          min-height: 50vh;
          max-height: 60vh;

          .viewer__box {
            overflow: hidden;
            display: grid;
            align-items: stretch;
            height: 100%;
            width: 100%;
            min-height: auto;
            margin: 0;
            border-radius: 2px;

            .article__photo {
            }

            &:nth-of-type(1),
            &:nth-of-type(5) {
              grid-column-start: 1;
              grid-column-end: 4;
            }

            &:nth-of-type(2),
            &:nth-of-type(6) {
              grid-column-start: 4;
              grid-column-end: 6;
              grid-row: 1fr;
            }

            &:nth-of-type(3) {
              grid-column-start: 1;
              grid-column-end: 3;
            }

            &:nth-of-type(4) {
              grid-column-start: 3;
              grid-column-end: 6;
            }
          }

          .article__pattern {
            position: absolute;
            display: block;
            height: 100%;
            width: 85%;
            border-radius: 2px;
            left: 20%;
            background-size: 100%;
            background-attachment: fixed;
            background-position: left;

            transform: rotateZ(0deg);
            -webkit-transform: rotateZ(0deg);
            -moz-transform: rotateZ(0deg);
            -ms-transform: rotateZ(0deg);
            -o-transform: rotateZ(0deg);
          }
        }

        @media screen and (min-width: $min-xxl) {
          width: 33%;
        }
      }

      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5) {
        .photo__box {
          .viewer__box {
            &:nth-of-type(3) {
              grid-column-start: 1;
              grid-column-end: 6;
            }
          }
        }
      }
    }
  }
}