@mixin flex {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;

  @media screen and (min-width: $min-md) {
    flex-direction: row;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin clean-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
}