html {
  scroll-behavior: smooth;
}

body {
  //background-color: $bg-black;
  height: auto;
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
  //width: calc(100vw - 15px);

  #root {

<<<<<<< HEAD
    .parallax {  
=======
    .parallax {
>>>>>>> develop
      position: fixed;
      //background-color: $bg-wrapper;
      background-color: cyan;
      background-image: radial-gradient(circle at right, transparent 20%, rgba(0, 0, 0, 0.2)),
<<<<<<< HEAD
      radial-gradient(circle at 70%, transparent 10%, rgba(0, 0, 0, 0.1)),
      radial-gradient(circle at left, transparent 10%, rgba(0, 0, 0, 0.2));
=======
        radial-gradient(circle at 70%, transparent 10%, rgba(0, 0, 0, 0.1)),
        radial-gradient(circle at left, transparent 10%, rgba(0, 0, 0, 0.2));
>>>>>>> develop
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;
      max-width: 100vw;
      height: 100vh;
<<<<<<< HEAD
      overflow: hidden;  
=======
      overflow: hidden;
>>>>>>> develop
      z-index: -1;
    }

    .parallax-second {
      background-image: radial-gradient(circle at right, transparent 20%, rgba(0, 0, 0, 0.3)),
<<<<<<< HEAD
      radial-gradient(circle at 40%, transparent 10%, rgba(0, 0, 0, 0.2)),
      radial-gradient(circle at left, transparent 10%, rgba(0, 0, 0, 0.3));
=======
        radial-gradient(circle at 40%, transparent 10%, rgba(0, 0, 0, 0.2)),
        radial-gradient(circle at left, transparent 10%, rgba(0, 0, 0, 0.3));
    }
  }

  &.dark-theme {

    #root {

      .parallax {
        background-color:#011642;
        background-image: none;
      }
>>>>>>> develop
    }
  }
}

header {
  //max-width: 1200px;
  margin: 0 auto;
}