@import "../../styles/_reset.scss";
@import '../../styles/_variables.scss';
@import "../../styles/_extends.scss";
@import "../../styles/_layout.scss";

.cv {

  .article {
    padding: 25px;

    @media screen and (min-width: $min-lg) {
      padding: 30px;
    }

    @media screen and (min-width: $min-xl) {
      padding: 40px;
    }

    @media screen and (min-width: $min-xxl) {
      padding: 50px;
      max-width: 700px;
    }
  }
}