@import "../../styles/_reset.scss";
@import '../../styles/_variables.scss';
@import "../../styles/_extends.scss";
@import "../../styles/_layout.scss";


//--!! TIME-LINE SECTION !!--

.section__time-line {
  @include flex-column;
  min-height: auto;

  @media screen and (min-width: $min-md) {
    min-height: 80vh;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (min-width: $min-xl) {
    padding: calc(20px + 3vh) calc(20px + 5vw);
  }

  .article {
    width: 100%;
    max-width: 100%;
    padding-bottom: 0;
    flex: none;

    @media screen and (min-width: $min-md) {
      width: 100%;
    }

    &:nth-of-type(1) {
      @media screen and (min-width: $min-md) {
        padding-bottom: 50px;
      }
    }

    .articleTitle {
      justify-content: center;
    }
  }

  .article__time-line {
    padding-left: 5px;
    padding-right: 5px;
    //opacity: 1;

    .time-line__switcher {
      display: flex;
      height: 10%;
      width: 100%;
      z-index: 1;
      cursor: pointer;
      background-color: transparent;
      color: $text-white;
      box-shadow: none;
      border: none;

      .article__text {
        text-align: center;
        margin: 20px auto;

        &:hover {
          color: white;
        }
      }

      .dark-theme & {

        .article__text {
          color: $dark-theme-blue;

          &:hover {
            color: white;
          }
        }
      }
    }

    @media screen and (min-width: $min-md) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;

      .time-line__switcher {
        display: flex;
        height: 100%;
        width: 50px;
        align-items: center;
        justify-content: center;
        //margin: 0 auto;

        .text--top-left {
          transform: rotateZ(-90deg);
          -webkit-transform: rotateZ(-90deg);
          -moz-transform: rotateZ(-90deg);
          -ms-transform: rotateZ(-90deg);
          -o-transform: rotateZ(-90deg);
        }

        .text--bottom-right {
          transform: rotateZ(90deg);
          -webkit-transform: rotateZ(90deg);
          -moz-transform: rotateZ(90deg);
          -ms-transform: rotateZ(90deg);
          -o-transform: rotateZ(90deg);
        }
      }
    }

    .time-line__container {
      @include flex;
      margin: 0 auto;

      @media screen and (min-width: $min-md) {
        min-height: 420px;
        height: 100%;
        align-items: stretch;
        justify-content: flex-end;
        margin: 0;
        width: 90%;
      }

      @media screen and (min-width: $min-xl) {
        min-height: 350px;
      }

      //--!! TIME-LINE BOX !!---

      .time-line__box {
        @include flex-row;
        //background-color: $text-time-line;

        &:hover {

          //background-color: $text-blue2;
          .time-line__item--2 {

            .item-circle {
              border-color: $text-time-line;
            }

            .text-line {
              background-color: $text-time-line;
            }
          }

          .time-line__item--1 {
            background-color: $text-time-line;

            .item-text {
              color: $text-black;
            }

            .item-link {
              color: $bg-time-line;
            }
          }
        }

        @media screen and (min-width: $min-md) {
          @include flex-column;
          //height: 100%;
        }

        .time-line__item {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .item-text {
            color: $text-white;
            text-align: center;
            font-family: $main-font;

            @media screen and (min-width: $min-md) {
              font-size: 14px;
            }

            @media screen and (min-width: $min-lg) {
              font-size: 16px;
            }

            @media screen and (min-width: $min-xl) {
              font-size: 17px;
            }
          }

          .item-link {
            color: $text-blue;
            font-family: $main-font;
            font-weight: bold;
            text-align: center;

            @media screen and (min-width: $min-md) {
              font-size: 14px;
            }

            @media screen and (min-width: $min-lg) {
              font-size: 16px;
            }

            @media screen and (min-width: $min-xl) {
              font-size: 17px;
            }
          }

          .item-circle {
            height: 20px;
            width: 20px;
            background-color: $bg-black;
            border: solid 5px $bg-time-line;
            z-index: 1;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }

          .item-line {
            position: absolute;
            display: block;
            background-color: $bg-black;
            width: 5px;
            height: 100%;

            @media screen and (min-width: $min-md) {
              width: 100%;
              height: 5px;
            }

            .dark-theme & {
              background-color: purple;
            }
          }

          .text-line {
            position: absolute;
            display: block;
            background-color: $bg-time-line;
            height: 1px;
            width: 50%;
            left: 0%;

            @media screen and (min-width: $min-md) {
              width: 2px;
              height: 50%;
              top: 0%;
              left: 50%;
            }
          }
        }

        .time-line__item--1 {
          width: 35%;
          height: auto;
          background-color: $bg-time-line;
          //border: solid 1px $bg-black;
          padding: 10px;
          transition: $transition;
          border-radius: 5px;

          @media screen and (min-width: $min-md) {
            width: auto;
            height: 35%;
          }
        }

        .time-line__item--2 {
          width: 30%;
          height: auto;

          @media screen and (min-width: $min-md) {
            width: auto;
            height: 30%;
          }
        }

        .time-line__item--3 {
          width: 35%;
          height: auto;

          @media screen and (min-width: $min-md) {
            width: auto;
            height: 35%;
          }
        }

        &:nth-of-type(even) {
          flex-direction: row-reverse;

          @media screen and (min-width: $min-md) {
            flex-direction: column-reverse;
          }

          .text-line {
            left: 50%;

            @media screen and (min-width: $min-md) {
              top: 50%
            }
          }
        }
      }

      &:first-of-type {
        padding-bottom: 20px;

        @media screen and (min-width: $min-md) {
          padding-bottom: 0;
          padding-right: 20px;
          border: none;
        }
      }

      &:last-of-type {
        padding-top: 20px;

        @media screen and (min-width: $min-md) {
          padding-top: 0;
          padding-left: 20px;
          border: none;
        }
      }
    }

    .time-line--active {
      opacity: 1;
      height: 90%;

      @media screen and (min-width: $min-md) {
        width: 90%;
        height: 100%;
      }

      .time-line__box {
        z-index: 1;
      }
    }

    .time-line--off {
      opacity: 0;
      display: none;
      height: 0px;
      max-height: 0px;

      @media screen and (min-width: $min-md) {
        height: 100%;
        width: 0px;
      }

      .time-line__box {
        z-index: -1;
      }
    }
  }
}