@import "../../styles/_reset.scss";
@import '../../styles/_variables.scss';
@import "../../styles/_extends.scss";
@import "../../styles/_layout.scss";

.navbar__link {
  font-family: $main-font;
  color: $text-black;
}

.project__link {
  position: absolute;
  height: 100px;
  width: 100px;
}

.article__link {
  display: flex;
  font-family: $main-font;
  color: $text-blue;
  font-size: 14px;
  //width: 100%;
  margin-bottom: 2vh;
  line-height: 12px;
  transition: .2s;

  .dark-theme & {
    color: black;
  }

  @media screen and (min-width: $min-md) {
    font-size: 16px;
    line-height: 14px;
  }

  @media screen and (min-width: $min-lg) {
    font-size: 18px;
    line-height: 16px;
  }

  @media screen and (min-width: $min-xl) {}

  @media screen and (min-width: $min-xxl) {
    font-size: 20px;
  }

  &:hover {
    font-weight: bold;
  }

  .link__points {
    display: flex;
    width: max-content;
    height: 14px;

    @media screen and (min-width: $min-md) {
      height: 16px;
    }

    @media screen and (min-width: $min-lg) {
      height: 18px;
    }

    .point {
      width: 10px;
      height: 90%;
      margin-left: 5px;
      //background-color: cyan;
      background-image: url('/images/icons/arrow-right.svg');
      @include img;
      border-radius: 50%;
      animation: arrowMove 1s infinite;
      -webkit-animation: arrowMove 1s infinite;

      .dark-theme & {
        background-image: url('/images/icons/arrow-right-black.svg');
      }

      &:nth-of-type(1) {
        animation-delay: .0s;
      }

      &:nth-of-type(2) {
        animation-delay: .1s;
      }

      &:nth-of-type(3) {
        animation-delay: .2s;
      }
    }

    @keyframes arrowMove {
      from {
        opacity: 0.5;
      }

      to {
        opacity: 1;
      }
    }
  }
}

.article__link--second {
  @extend .article__link;
  background-color: $text-blue2;
  color: $text-black;
  padding: 10px 15px;
  display: inline-block;
  margin: 20px auto;
  width: max-content;

  &:hover {
    background-color: $text-black;
    color: $text-blue;
    font-weight: normal;
  }

  @media screen and (min-width: $min-md) {
    margin: 10px 10px 10px 0;
  }
}

.section__radio {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  left: 50%;
  top: 11px;
  padding: 0 5vw;
  transform: translateX(-50%);

  @media screen and (min-width: $min-md) {
    top: 40px;
  }

  @media screen and (min-width: $min-xxl) {
    max-width: 700px;
  }

  .radio__elem {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $text-blue;
    cursor: pointer;

    @media screen and (min-width: $min-md) {
      width: 10px;
      height: 10px;
    }

    &:hover {
      border: solid 3px $text-blue;
    }
  }

  .radio__elem--active {
    position: relative;
    background-color: $text-blue;

    &:after {
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      background-color: transparent;
      border: solid 1px $text-blue;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media screen and (min-width: $min-md) {
        height: 25px;
        width: 25px;
      }
    }

    &:hover {
      border: none;
    }
  }
}