@import "../../styles/_reset.scss";
@import '../../styles/_variables.scss';
@import "../../styles/_extends.scss";
@import "../../styles/_layout.scss";

#front.section,
#ui.section,
#ux.section,
#find.section,
#cv.section,
#repo.section {
  height: 100%;
  min-height: 100px;
  width: 100%;
  padding: 10px;
  margin: 0;
  display: block;

  .article {
    height: 100%;
    min-height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .article__description {
    height: 100%;
    min-height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .article__photos {}

  .articleOn {
    opacity: 1;
    animation: articleOn 1s;
    -webkit-animation: articleOn 1s;

    @keyframes articleOn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}