.main2Page {
  background-color: white;
  background-image: radial-gradient(circle at right, transparent 20%, rgba(0, 0, 0, 0.5)),
    radial-gradient(circle at 70%, transparent 10%, rgba(0, 0, 0, 0.5)),
    radial-gradient(circle at left, transparent 10%, rgba(0, 0, 0, 0.5));
  @include flex-column;
  justify-content: flex-start;
  align-items: center;

  .section {
    min-height: auto;
    background-image: none;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $min-xxl) {
      //max-width: 1200px;
      min-width: 200px;
    }

    .sectionTitle {}

    .sectionText {
      color: $text-white;
      font-family: $main-font;
      line-height: 180%;
      margin-bottom: 2vh;

      @media screen and (min-width: $min-md) {
        font-size: 16px;
      }

      @media screen and (min-width: $min-lg) {
        font-size: 18px;
      }

      @media screen and (min-width: $min-xl) {}

      @media screen and (min-width: $min-xxl) {
        font-size: 20px;
      }
    }

    .article {
      width: 100%;
      max-width: 60%;

      &:first-of-type {
        flex: 2;
        //width: 60%;
      }

      &:last-of-type {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
      }

      .photo__box {
        width: 300px;
        height: 200px;
        background-color: grey;
        margin: 1%;

        @media screen and (min-width: $min-md) {
          width: 500px;
          height: 300px;
          margin: 3px;
        }
      }

      .article__photo {
        width: 31%;
        margin: 1%;

        @media screen and (min-width: $min-md) {
          width: 160px;
          margin: 3px;
        }
      }

      .article__photo--active {
        border: solid 2px cyan;
      }
    }
  }
}