html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* colors */
/* Fonts */
/* Borders */
/*Media*/
/* Actions */
body {
  background-color: #EFEFEF;
  min-height: 100vh;
}

header,
section {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* Components */
.navbar__link {
  font-family: Montserrat, sans-serif;
  color: #000000;
}

.project__link {
  position: absolute;
  height: 100px;
  width: 100px;
}

.text__stain {
  position: absolute;
  z-index: 1;
}

.page__stain {
  position: absolute;
  top: 0;
}

[data-stain] {
  -webkit-animation: move1 15s infinite;
          animation: move1 15s infinite;
}

@-webkit-keyframes round1 {
  0% {
    -webkit-transform: translate(0, 0) rotateZ(0deg);
            transform: translate(0, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translate(100%, 100%) rotateZ(360deg);
            transform: translate(100%, 100%) rotateZ(360deg);
  }
}

@keyframes round1 {
  0% {
    -webkit-transform: translate(0, 0) rotateZ(0deg);
            transform: translate(0, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translate(100%, 100%) rotateZ(360deg);
            transform: translate(100%, 100%) rotateZ(360deg);
  }
}

@-webkit-keyframes round2 {
  0% {
    -webkit-transform: translate(100%, 100%) rotateZ(0deg);
            transform: translate(100%, 100%) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotateZ(-360deg);
            transform: translate(0, 0) rotateZ(-360deg);
  }
}

@keyframes round2 {
  0% {
    -webkit-transform: translate(100%, 100%) rotateZ(0deg);
            transform: translate(100%, 100%) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotateZ(-360deg);
            transform: translate(0, 0) rotateZ(-360deg);
  }
}

@-webkit-keyframes move1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
}

@keyframes move1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
}

@-webkit-keyframes move2 {
  0% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes move2 {
  0% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

/*
@keyframes move2 {
    0% {
       transform: scaleY(1) skewY(0deg);
    }

    20% {
        transform: scaleY(0.8) skewY(10deg);
    }

    50% {
        transform: scaleY(1) skewY(-5deg);
    }

    70% {
        transform: scaleY(0.8) skewY(10deg);
    }

    100% {
        transform: scaleY(1) skewY(0deg);
    }
}
*/
/* Sections */
.navbar {
  height: 100px;
  width: 100%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navbar .navbar__diamond {
    display: none;
  }
  .navbar .navbar__brand {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 25px;
  }
  .navbar .navbar__menu {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

.navbar .navbar__brand {
  position: relative;
}

.navbar .navbar__brand .brand {
  font-family: Satisfy, sans-serif;
  z-index: 3;
}

.navbar .navbar__menu .navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .navbar .navbar__menu .navbar__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 800px;
  }
}

.hero .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 768px) {
  .hero .article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero .article:first-of-type .project__link {
  position: absolute;
}

.hero .article:last-of-type {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .article:last-of-type .stain__box {
  position: absolute;
  left: 50%;
}

/*Pages*/
/*# sourceMappingURL=style.css.map */