html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* colors */
/* Fonts */
/* Borders */
/*Media*/
/* Actions */
body {
  background-color: #111111;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  background-color: #ee5541;
  width: 100vw;
  height: 100vh;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}

/* Components */
.pageTitle {
  color: #f3f5dd;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .pageTitle {
    font-size: calc(20px + 1vw);
  }
}

@media screen and (min-width: 1500px) {
  .pageTitle {
    font-size: 40px;
  }
}

.brand {
  color: #f3f5dd;
  font-size: 20px;
  font-family: Satisfy, sans-serif;
  text-align: center;
  line-height: 100%;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .brand {
    font-size: 22px;
    padding-top: 0;
  }
}

.textConnector {
  color: #f3f5dd;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 100%;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .textConnector {
    font-size: 22px;
    padding-top: 0;
  }
}

.navbar__link {
  font-family: Montserrat, sans-serif;
  color: #000000;
}

.project__link {
  position: absolute;
  height: 100px;
  width: 100px;
}

.tile {
  -webkit-animation: tileMoveTo 1s;
          animation: tileMoveTo 1s;
}

@-webkit-keyframes tileMoveTo {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes tileMoveTo {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

.tileBack {
  -webkit-animation: tileMoveBack 1s;
          animation: tileMoveBack 1s;
}

@-webkit-keyframes tileMoveBack {
  from {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes tileMoveBack {
  from {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.hide {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: none;
}

/* Sections */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  height: 95%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff006a), to(#01e9d6));
  background-image: linear-gradient(to right, #ff006a, #01e9d6);
}

.hero .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ee5541;
  height: calc(100% / 10);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.hero .red {
  background-color: lightgrey;
}

/*Pages*/
/*# sourceMappingURL=style.css.map */