.section {
  @include flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 5vh 5vw;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle at right, transparent 20%, rgba(0, 0, 0, 0.5)),
    radial-gradient(circle at 70%, transparent 10%, rgba(0, 0, 0, 0.5)),
    radial-gradient(circle at left, transparent 10%, rgba(0, 0, 0, 0.5));

  @media screen and (min-width: $min-md) {
    padding: calc(20px + 5vh) calc(20px + 5vw);
  }

  @media screen and (min-width: $min-lg) {}

  @media screen and (min-width: $min-xl) {}

  @media screen and (min-width: $min-xxl) {}

  .article {
    @include flex-column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 25px;

    @media screen and (min-width: $min-lg) {
      padding: 30px;
    }

    @media screen and (min-width: $min-xl) {
      padding: 40px;
    }

    @media screen and (min-width: $min-xxl) {
      padding: 50px;
      max-width: 700px;
    }
  }

  .description {
    background-color: $bg-wrapper;
    min-height: 60vh;
    transition: .3s;

    @media screen and (min-width: $min-xxl) {
      //height: 60vh;
    }

    .sectionTitle,
    .article__text,
    .article__link,
    .article__icons {
      visibility: hidden;
    }

    .sectionTitle--show {
      visibility: visible;
      animation: showElem 1s;
    }
  }

  .photos {
    //@include flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(5, 5, 5, 0.3);
    min-height: 60vh;
    transition: .3s;

    @media screen and (min-width: $min-xxl) {
      //height: 60vh;
    }

    .photo__link {
      visibility: hidden;
    }

    .sectionTitle--show {
      visibility: visible;
      animation: showElem 1s;
    }

    @keyframes showElem {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}