.picture {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media screen and (orientation: landscape) {
    position: absolute;
    width: calc(100% * 8);
    height: calc(100% * 8);
    display: block;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: $min-lg) {}

  @media screen and (min-width: $min-xl) {}

  @media screen and (min-width: $min-xxl) {}
}

.picture--hide {
  display: none;
}

.article__icons {
  .article__icon {
    height: 30px;
    margin-right: 5%;
    margin-top: 2vh;

    @media screen and (min-width: $min-md) {
      font-size: 16px;
    }

    @media screen and (min-width: $min-lg) {
      font-size: 18px;
    }

    @media screen and (min-width: $min-xl) {}

    @media screen and (min-width: $min-xxl) {
      font-size: 20px;
    }
  }
}

.icon__box {
  margin: 10px auto;

  .article__icon {
    height: 40px;

    @media screen and (min-width: $min-md) {
    }

    @media screen and (min-width: $min-lg) {
      height: 45px;
    }

    @media screen and (min-width: $min-xl) {
      height: 50px;
    }

    @media screen and (min-width: $min-xxl) {
    }
  }
}

.photos {

  .photo__link {
    position: relative;
    width: 80%;
    cursor: pointer;
    transition: .2s;
    margin: 10px 0;
    line-height: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    @media screen and (min-width: $min-md) {}

    @media screen and (min-width: $min-lg) {
      width: 50%;
    }

    @media screen and (min-width: $min-xl) {}

    @media screen and (min-width: $min-xxl) {}

    &:hover {

      &:after {
        position: absolute;
        content: 'See';
        left: 50%;
        top: 50%;
        color: white;
        transform: translate(-50%, -50%);
        width: min-content;
        height: min-content;
        border: solid 1px white;
        font-size: 16px;
        line-height: 160%;
        font-family: $main-font;
        font-weight: bold;
        padding: 8px 15px;
        border-radius: 8px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      @media screen and (min-width: $min-lg) {}

      .article__photo {
        opacity: .5;
      }
    }

    .article__photo {
      width: 100%;
      margin: 0;
    }
  }
}

.viewer__modal {
  display: none;
}

.viewer__modal--active {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  @media screen and (min-width: $min-md) {
    z-index: 100;
  }

  .modal {
    display: flex;
    width: 100%;
    z-index: 100;
    animation: sizeMover .3s ease-in;

    @keyframes sizeMover {
      from {
        transform: scale(0.5)
      }

      to {
        transform: scale(1)
      }
    }

    @media screen and (min-width: $min-xl) {
      width: auto;
    }

    @media screen and (min-width: $min-xl) {
      height: 80vh;

      @keyframes sizeMover {
        from {
          transform: scale(0.1)
        }

        to {
          transform: scale(1)
        }
      }
    }
  }
}