.navbar__link {
  font-family: $main-font;
  color: $text-black;
}

.project__link {
  position: absolute;
  height: 100px;
  width: 100px;
}

.article__link {
  font-family: $main-font;
  color: $text-white;
  font-size: 14px;
  width: max-content;
  margin-bottom: 2vh;

  @media screen and (min-width: $min-md) {
    font-size: 16px;
  }

  @media screen and (min-width: $min-lg) {
    font-size: 18px;
  }

  @media screen and (min-width: $min-xl) {}

  @media screen and (min-width: $min-xxl) {
    font-size: 20px;
  }
}

.section__radio {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  max-width: 400px;
  top: 40px;
  transform: rotateX(-50%);

  .radio__elem {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    
    &:hover {
    border: solid 3px $text-blue; 
    }
  }

  .radio__elem--active {
    background-color: $text-blue; 
  }
}
