.text__stain {
    position: absolute;
    //background-color: lightgrey;
    z-index: 1;
    //animation: move1 10s infinite linear both;


}

.page__stain {
    position: absolute;
    top: 0;
    //background-color: lightgrey;
    //animation: move1 12s infinite linear both;
}



@keyframes move1 {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes move2 {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(-360deg);
    }
}

/*
@keyframes move2 {
    0% {
       transform: scaleY(1) skewY(0deg);
    }

    20% {
        transform: scaleY(0.8) skewY(10deg);
    }

    50% {
        transform: scaleY(1) skewY(-5deg);
    }

    70% {
        transform: scaleY(0.8) skewY(10deg);
    }

    100% {
        transform: scaleY(1) skewY(0deg);
    }
}
*/