.text__stain {
    position: absolute;
    //background-color: lightgrey;
    z-index: 1;
    //animation: move1 10s infinite linear both;
}

.page__stain {
    position: absolute;
    top: 0;
    //background-color: lightgrey;
    //animation: move1 12s infinite linear both;
}


[data-stain] {
    animation: move1 15s infinite;
}

@keyframes round1 {
    0% {
        transform: translate(0, 0) rotateZ(0deg);
    }

    100% {
        transform: translate(100%, 100%) rotateZ(360deg);
    }
}

@keyframes round2 {
    0% {
        transform: translate(100%, 100%) rotateZ(0deg);
    }

    100% {
        transform: translate(0, 0) rotateZ(-360deg);
    }
}

@keyframes move1 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(100%, 100%);
    }
}

@keyframes move2 {
    0% {
        transform: translate(100%, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

/*
@keyframes move2 {
    0% {
       transform: scaleY(1) skewY(0deg);
    }

    20% {
        transform: scaleY(0.8) skewY(10deg);
    }

    50% {
        transform: scaleY(1) skewY(-5deg);
    }

    70% {
        transform: scaleY(0.8) skewY(10deg);
    }

    100% {
        transform: scaleY(1) skewY(0deg);
    }
}
*/