.brand {
  color: $text-blue;
  font-size: 18px;
  font-family: $brand-font;
  text-align: center;
  line-height: 100%;
  padding-top: 10px;
  cursor: pointer;

  @media screen and (min-width: $min-md) {
    font-size: 22px;
    padding-top: 0;
  }

  @media screen and (min-width: $min-lg) {}

  @media screen and (min-width: $min-xl) {}

  @media screen and (min-width: $min-xxl) {}

  &:active {
    color: $text-navy;
    text-shadow: none;
  }
}

.textConnector {
  color: $text-blue;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: 100%;
  padding-top: 10px;

  @media screen and (min-width: $min-md) {
    font-size: 22px;
    padding-top: 0;
  }

  @media screen and (min-width: $min-lg) {}

  @media screen and (min-width: $min-xl) {}

  @media screen and (min-width: $min-xxl) {}
}

.article__text {
  color: $text-blue;
  font-family: $main-font;
  line-height: 180%;
  margin-bottom: 2vh;

  @media screen and (min-width: $min-md) {
    font-size: 16px;
  }

  @media screen and (min-width: $min-lg) {
    font-size: 18px;
  }

  @media screen and (min-width: $min-xl) {}

  @media screen and (min-width: $min-xxl) {
    font-size: 20px;
  }
}

.article__abbr, .article__abbr--last {
  //color: red;
  text-decoration: underline dotted;
  cursor: help;
}

.footer__text {
  @extend .article__text;
  text-align: center;
  margin-bottom: 0;

  @media screen and (min-width: $min-md) {
    font-size: 14px;
  }

  @media screen and (min-width: $min-lg) {
    font-size: 16px;
  }

  @media screen and (min-width: $min-xl) {}

  @media screen and (min-width: $min-xxl) {
    font-size: 18px;
  }
}