
.pageTitle {
  color: black;
  font-size: 20px;
  font-family: $main-font;
  font-weight: bold;

  //animation: glow 1s ease-in-out infinite alternate;

  @media screen and (min-width: $min-md) {}

  @media screen and (min-width: $min-lg) {}

  @media screen and (min-width: $min-xl) {}

  @media screen and (min-width: $min-xxl) {
    font-size: 40px;
  }
}


.tile {
  animation: tileMoveTo 1s;

  @keyframes tileMoveTo {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
  }
}

.tileBack {
  animation: tileMoveBack 1s;

  @keyframes tileMoveBack {
    from {transform: rotateY(180deg);}
    to {transform: rotateY(0deg);}
  }
}


.hide {
  transform: rotateY(180deg);
  display: none;
}