.tile {
  animation: tileMoveTo 1s;

  @keyframes tileMoveTo {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
  }
}

.tileBack {
  animation: tileMoveBack 1s;

  @keyframes tileMoveBack {
    from {transform: rotateY(180deg);}
    to {transform: rotateY(0deg);}
  }
}

.hide {
  transform: rotateY(180deg);
  display: none;
}